certifi==2026.4.22
    # via influxdb-client
flexcache==0.3
    # via pint
flexparser==0.4
    # via pint
influxdb-client==1.50.0
    # via lemongrass
obd==0.7.3
pint==0.24.4
    # via obd
platformdirs==4.9.6
    # via pint
pyserial==3.5
    # via obd
python-dateutil==2.9.0.post0
    # via influxdb-client
reactivex==4.1.0
    # via influxdb-client
six==1.17.0
    # via python-dateutil
typing-extensions==4.15.0
    # via
    #   flexcache
    #   flexparser
    #   pint
    #   reactivex
urllib3==2.7.0
    # via influxdb-client
