anyio==4.13.0
    # via httpx
certifi==2026.4.22
    # via
    #   httpcore
    #   httpx
    #   influxdb-client
exceptiongroup==1.3.1 ; python_full_version < '3.11'
    # via anyio
h11==0.16.0
    # via httpcore
httpcore==1.0.9
    # via httpx
httpx==0.28.1
    # via race-monitor
idna==3.13
    # via
    #   anyio
    #   httpx
influxdb-client==1.50.0
    # via lemongrass
numpy==2.4.4 ; python_full_version < '3.11'
    # via pandas
numpy==2.4.4 ; python_full_version >= '3.11'
    # via pandas
pandas==2.3.3
python-dateutil==2.9.0.post0
    # via
    #   influxdb-client
    #   pandas
pytz==2026.2
    # via pandas
race-monitor==0.3.0
    # via lemongrass
reactivex==4.1.0
    # via influxdb-client
six==1.17.0
    # via python-dateutil
typing-extensions==4.15.0
    # via
    #   anyio
    #   exceptiongroup
    #   reactivex
tzdata==2026.2
    # via pandas
urllib3==2.7.0
    # via influxdb-client
