[Unit]
Description=Send PiSugar metrics to influxdb
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/.pyenv/versions/Lemongrass-3.13.3/bin/python /home/pi/Lemongrass/pisugar-monitor.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
